<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../Tools/bootstrap-5.2.3-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/Registro_Egresados/Registro_M.css">
	<title>REGISTRO EGRESADOS</title>
</head>
<body>
	<div><div class="container" >
		<div class="row text-center align-items-start">
			<div class="insertar" class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 col-12">
				<h5>SOLICITAR REGISTRO</h5>
				<input class="info" type="text" name="user" auto placeholder="Matricula">
                <input class="info" type="text" name="user" auto placeholder="Correo">
                <a href="../index.html"> <button class="btn btn-outline-primary" type="submit">Salir</button></a>
                <a href="../index.html"><button class="btn btn-outline-success" type="submit">Guardar</button></a>

            </div>
        </div>
    </div>
</div>
</body>
</html>